.row {
  margin-top: 24px;
  padding: 0 40px;
}
.main-content {
  padding-top: 23%;
}


.row-title {
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
}

.row-cards {
  display: flex;
  gap: 14px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.row-cards::-webkit-scrollbar {
  display: none;
}

.row-cards > * {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.movie-poster {
  width: 240px;
  height: 135px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s;
}

.movie-poster:hover {
  transform: scale(1.1);
}
