html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0 40px;
  background-color: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(2px) brightness(90%);

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: background-color 0.4s ease;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

header img {
  width: 120px;
  height: auto;
  display: block;
}

.nav-list {
  display: flex;
  gap: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: #e5e5e5;
  font-size: 15px;
  cursor: pointer;
}

.nav-item:hover {
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-search,
.icon-bell {
  width: 25px;
  height: 25px;
  object-fit: contain;
  cursor: pointer;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
}

main {
  padding-top: 0px;
}

.user-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.user-logo {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.user-arrow {
  font-size: 12px;
  color: #e5e5e5;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 1);
  transition: background-color 0.5s ease;
}

.main-content {
  padding-top: 0;
  margin: 0;
}