.spotlight-info {
  position: absolute;    
  bottom: 41%;          
  left: 4%;
  z-index: 5;             
  color: white;
  width: 40%;             
}


.spotlight-title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.spotlight-desc {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.spotlight-buttons .btn {
  padding: 10px 24px;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 1rem;
  border: none;
}

.play {
  background: white;
  color: black;
}
.info {
  background: rgba(109, 109, 110, 0.7);
  color: white;
}
